# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.moved-aside

# Build products
build/
DerivedData/
*.o
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (in case you ever add it)
Pods/

# Misc
*.swp
*~
